.Home {
  height: 100vh;
  background-color: red;
}

.my-name {
  transition-duration: 0.5s;
}

.my-name:hover {
  color: aqua;
}

img {
  margin-top: 15vh;
  width: auto;
  height: 100%;
  border: 1px solid #ccc;
}

.calculator-container {
  display: flex;
  justify-content: center;
  height: calc(50vh); /* Adjust this value based on the height of your navbar */
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25vh;
  height: 10vh;
  color: gold;
}
