.NavButton:focus {
  text-decoration: none;
  color: crimson;
}

.NavButton:hover {
  border: none;
  color: blue;
  text-decoration: none;
  background-color: white;
}

.NavButton {
  border: none;
  transition-duration: 0.5s;
  color: crimson;
  font-size: calc(2.5vmin);
  padding: 1.5vh 3vw;
}
