.notes-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25vh 5vw 5vh 5vw;
  height: 5vh;
  color: black;
  font-size: calc(2.5vh);
}

.coursework {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding: 10vh 10vw;
  text-align: left;
  font-size: calc(2.5vh);
}

.Notes {
  background-color: turquoise;
}
